@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Viktor Lalev<br />
    Georgi Simonov<br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:">vklalev@gmail.com</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/viktorlalev97">https://github.com/viktorlalev97</a>
</address>