@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome :)</h1>
    <p class="lead">Click the button to see collection of my favourite games.</p>
    <p><a href="http://localhost:50262/Games" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Stack Overflow</h2>
        <p>
            Best Page Ever.
        </p>
        <p><a class="btn btn-default" href="https://stackoverflow.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Metacritic</h2>
        <p>Find more awesome games on Metacritic.</p>
        <p><a class="btn btn-default" href="http://www.metacritic.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>GitHub</h2>
        <p>You can check my other projects on GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/viktorlalev97">Learn more &raquo;</a></p>
    </div>
</div>